h1 {
    color: #121481;
    padding: 2%;
    font-size:400%;
    text-align: center;
}

p {
    font-size: 150%;
    color: #7469B6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 2%;
    text-align: center;
}

ul {
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1%;
    text-align: center;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 2%;
}

body {
    background-color: #E1AFD1;
}

.links {
    display: flex;
    justify-content: center;
}